.concertifuturimobile {
  display: none;
}

@media screen and (max-width: 520px) {

.concertifuturimobile  {
    display: block;
  }

  .range {
    position: relative;
    width: 308px;
    height: 5px;
    margin-top: 14px;
  }

  .range input {
    width:100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
  }

  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    border: 0 !important;
  }

  .range input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    border: 0 !important;
  }

  .range input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    border: 0 !important;
  }

  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }

  .range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }

  .range input::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #b2b2b2;
  }

  .range input:focus {
    background: none;
    outline: none;
  }

  .range input::-ms-track {
    width: 100%;
    cursor: pointer;
    border-color: transparent;
    color: transparent;
  }

  .range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
  }

  .range-labels li {
    position: relative;
    left: 30px;
    float: left;
    width: 42.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 1em;
    cursor: pointer;
  }

  .range-labels li::before {
    position: absolute;
    top: 30px;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #b2b2b2;
  }

  .range-labels .active {
    color: #FFFFFF;
  }

  .range-labels .selected::before {
    background: #b2b2b2;
  }

  .range-labels .active.selected::before {
    display: none;
  }

  .sezione6 {
    border: solid 0.5px red;
    width: 960px;
    margin: 0 auto;
    height: 100vh;
  }

  .boxvalori {
    margin-top: 10vh;
    margin: 0 auto;
    border: solid 0.5px green;
  }

  .fasciluce {
    display: flex;
    width: 100%;
    height: 50vh;
    margin: auto;
    border: solid 0.5px green;
    justify-content: center;
  }

  .numerogrande {
    align-self: flex-end;
    text-align: center;
    border: solid 0.5px green;
    display: flex;
    position: absolute;
    margin: auto;
  }

  #numeroconcerti {
    color: white;
    font-size: 120px;
    margin: 0 auto;
  }
}
