.boxconcertifuturi {
  display: none;
}

.chart-container svg rect {
  opacity: 1;
  transition: opacity .5s;
}

.boxconcertifuturi {
  width: 60%;
  margin-top: 5vh;
  display: block;
}

.sezione4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .boxconcertifuturi {
    display: none;
  }

  .chart-container svg rect {
    opacity: 1;
    transition: opacity .5s;
  }

  .boxconcertifuturi {
    width: 65%;
    margin-top: 5vh;
    display: block;
  }

  .sezione4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .boxconcertifuturi {
    display: none;
  }

  .chart-container svg rect {
    opacity: 1;
    transition: opacity .5s;
  }

  .boxconcertifuturi {
    width: 80%;
    margin-top: 5vh;
    display: block;
  }

  .sezione4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .boxconcertifuturi {
    display: none;
  }
}
