html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Sole24Sans';
  font-weight: Semibold;
  line-height: 1.2;
  background-color: black;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout {
  width: 65vw;
  margin: auto;
  display: block;
}

.mobile {
  display: none;
}

.menu {
  color: white;
  padding: 20px;
}

.header {
  height: 60px;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 100;
  border-bottom: 0.5px solid white;
}

.boxfooter{
  flex-direction: row;
  display: flex;
  margin: auto;
  width: 55%;
  height: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.footer {
  display: flex;
  height: 100%;
  background-color: black;
  width: 98vw;
  display: flex;
  justify-content: center;
  border-top: 0.5px solid white;
}

.unirsm {
width: 8vw;
height: 8vh;
}

@media screen and (max-width: 1024px) {
  .layout {
    display: none;
  }

  .layoutmobile {
    width: 80vw;
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 580px) {

  body {
    overflow-x: hidden;
  }

  .boxfooter{
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .layout {
    display: none;
  }

  .layoutmobile {
    width: 98vw;
    margin: auto;
    display: block;
  }

    .unirsm {
    width: 20vw;
    height: 5vh;
    }
}



@media screen and (max-width: 480px) {

  body {
    overflow-x: hidden;
  }

  .boxfooter{
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .layout {
    display: none;
  }

  .layoutmobile {
    width: 92vw;
    margin: auto;
    display: block;
  }

  .unirsm {
  width: 20vw;
  height: 5vh;
  }
}

@media screen and (max-width: 375px) {

  body {
    overflow-x: hidden;
  }

  .footer {
    display: flex;
    height: 100%;
    background-color: black;
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0.5px solid white;
  }

  .layout {
    display: none;
  }

  .layoutmobile {
    width: 90vw;
    margin: auto;
    display: block;
  }

  .boxfooter{
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .unirsm {
  width: 20vw;
  height: 5vh;
  }
}

@media screen and (max-width: 320px) {

  body {
    overflow-x: hidden;
  }

  .boxfooter{
    flex-direction: row;
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .layout {
    display: none;
  }

  .layoutmobile {
    width: 98vw;
    margin: auto;
    display: block;
  }

  .unirsm {
  display: none;
  }
}
