/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.sezione2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.boxricerca {
padding-top:8vh;
display: flex;
width: 80%;
}

.num-bar{
/*animation*/
animation: scale-in-ver-bottom 8s cubic-bezier(0.250, 0.450, 0.450, 0.940) both infinite;

}

.a{
height: 64px !important;
width: 413px;
fill: #242424;
}

.b{
  height: 61px !important;
  width: 413px;
  fill: #242424;
}

.c{
  height: 61px !important;
  width: 483px;
  fill: #242424;
}

.d{
  height: 59px !important;
  width: 560px;
  fill: #242424;
}

.e{
  height: 61px !important;
  width: 16px;
  fill: #242424;
}

.f{
  height: 61px !important;
  width: 50px;
  fill: #242424;
}


@keyframes scale-in-ver-bottom {
0% {
  transform: scaleX(0);
  transform-origin: 0% 100%;
  opacity: 0.9;
  animation: easy infinite;
}
100% {
  transform: scaleX(1);
  transform-origin: 0% 100%;
  opacity: 1;
  animation: easy infinite;
}
}


.desktop {
  display: block;
  }

  .boxricerca {
  width: 55vw;
  display: flex;
  }

  .mobile {
    display: none;
    }

    @media only screen and (max-width: 1024px){

      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              height: 63%;
              padding-top: 8vh;
              padding-bottom: 3vh;
              }

    }

    @media only screen and (max-width: 992px){

      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              width: 70%;
              }

    }

    @media only screen and (max-width:768px){

      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              width: 80%;
              }

    }

    @media only screen and (max-width:662px){

      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              width: 70%;
              }

    }


    @media only screen and (max-width: 480px){
      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              width: 100%;
              }

    }

    @media only screen and (max-width: 375px){
      .desktop {
        display: none;
        }

        .mobile {
          display: block;
          }

          .a{
            height: 44.49px !important;
            width: 170px;
            fill: #242424;
            }

            .b{
              height: 48px !important;
              width: 170px;
              fill: #242424;
            }

            .c{
              height: 46.58px !important;
              width: 192px;
              fill: #242424;
            }

            .d{
              height: 48px !important;
              width: 223px;
              fill: #242424;
            }

            .e{
              height: 49px !important;
              width: 18px;
              fill: #242424;
            }

            .f{
              height: 49px !important;
              width: 37px;
              fill: #242424;
            }

            .boxricerca {
              display: flex;
              width: 95%;
              }

    }
