.sliderbiglietti {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

}

.gallery {

  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.gallery-container {

  align-items: center;
  display: flex;
  height: 80%;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {

  height: 150px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item-1 {

  left: 15%;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {

  height: 300px;
  width: 300px;
  z-index: 1;
}

.gallery-item-2 {

  left: 38%;
  transform: translateX(-50%);
}

.gallery-item-3 {


  height: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}

.gallery-item-4 {

  left: 62%;
  transform: translateX(-50%);
}

.gallery-item-5 {

  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {

  display: flex;
  justify-content: center;
  z-index: 1000;
  width: 800px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 270px;
  padding: 0 12px;
  text-transform: capitalize;
  color: white;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: trasparent;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}




@media screen and (max-width:1024px) {

  .gallery-container {

    align-items: center;
    display: flex;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-controls {

    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 600px;
    position: relative;
    margin: 20px auto 0 auto;
    border-radius: 4px;

  .gallery-controls button {

    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 370px;
    padding: 0 12px;
    text-transform: capitalize;
    color: white;
  }

  .gallery-item-2,
  .gallery-item-4 {

    height: 40vh;
    width: 40vh;
    z-index: 1;
  }

  .gallery-item-2 {

    left: 30%;
    transform: translateX(-50%);
  }

  .gallery-item-3 {

    height: 50vh;
    width: 50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@media screen and (max-width:768px) {

  .gallery-container {

    align-items: center;
    display: flex;
    height: 60%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-item {

    height: 50vh;
    width: 50vw;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item-1 {

    left: 15%;
    transform: translateX(-50%);
  }

  .gallery-item-2,
  .gallery-item-4 {

    height: 45vh;
    width: 45vw;
    z-index: 1;
  }

  .gallery-item-2 {

    left: 40%;
    transform: translateX(-50%);
  }

  .gallery-item-3 {


    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: 50vh;
    width: 50vw;
  }

  .gallery-item-4 {

    left: 60%;
    transform: translateX(-50%);
  }

  .gallery-item-5 {

    left: -85%;
    transform: translateX(-50%);
  }

  .gallery-container {

    align-items: center;
    display: flex;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-controls {

    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100vh;
    position: relative;
    margin: 60vh auto 0 auto;
    border-radius: 4px;
  }

  .gallery-controls button {

    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 2px;
    text-transform: capitalize;
    color: white;
  }
}

@media screen and (max-width:480px) {

  .gallery-container {

    align-items: center;
    display: flex;
    height: 80%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-item {

    height: 50vh;
    width: 50vw;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item-1 {

    left: 15%;
    transform: translateX(-50%);
  }

  .gallery-item-2,
  .gallery-item-4 {

    height: 45vh;
    width: 45vw;
    z-index: 1;
  }

  .gallery-item-2 {

    left: 40%;
    transform: translateX(-50%);
  }

  .gallery-item-3 {


    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: 50vh;
    width: 50vw;
  }

  .gallery-item-4 {

    left: 60%;
    transform: translateX(-50%);
  }

  .gallery-item-5 {

    left: -85%;
    transform: translateX(-50%);
  }

  .gallery-container {

    align-items: center;
    display: flex;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-controls {

    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100vh;
    position: relative;
    margin: 55vh auto 0 auto;
    border-radius: 4px;
  }

  .gallery-controls button {

    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 2px;
    text-transform: capitalize;
    color: white;
  }
}

@media screen and (max-width:375px) {

  .sliderbiglietti {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

  }

  .gallery-item {

    height: 60vh;
    width: 60vw;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }

  .gallery-item-1 {

    left: 15%;
    transform: translateX(-50%);
  }

  .gallery-item-2,
  .gallery-item-4 {

    height: 60vh;
    width: 60vw;
    z-index: 1;
  }

  .gallery-item-2 {

    left: 40%;
    transform: translateX(-50%);
  }

  .gallery-item-3 {

    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    height: 70vh;
    width: 70vw;
  }

  .gallery-item-4 {

    left: 60%;
    transform: translateX(-50%);
  }

  .gallery-item-5 {

    left: -85%;
    transform: translateX(-50%);
  }

  .gallery-container {

    align-items: center;
    display: flex;
    height: 70%;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .gallery-controls {
    padding-top: 5vh;

    display: flex;
    justify-content: center;
    z-index: 1000;
    width: 100vh;
    position: relative;
    margin: 70vh auto 0 auto;
    border-radius: 4px;
  }

  .gallery-controls button {
  
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 2px;
    text-transform: capitalize;
    color: white;
  }
}
