svg rect.quadratini{
    transition:all 1s;
    fill:grey;
    animation-delay: 0;

  }

  .postiasedere{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  }

  .container{
  display: flex;
  margin: 0 auto;
  align-items: center;
  border: solid 0.5px green;
  width: 32vw;
  margin-top: -3vh;
  }


  .boxslider {
  border: solid 0.5px green;
  display: flex;
  width: 52%;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 6vh;
  justify-content: space-between;
  }

  #demo {
  width: 200px;
  align-content: flex-end;
  font-size: 4em;
  color: white;
  }

  .biglietto_strappato{
  transform: rotate(100deg);
  }

  .inferiore {
    border: solid 0.5px green;
    margin-top: 2vh;
    display: flex;
    width: 52%;
    display: flex;
    justify-content: space-between;
  }

  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid white;
  }

  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .select-styled:hover {
    background-color: black;
  }
  .select-styled:active, .select-styled.active {
    background-color: black;
  }
  .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent white transparent;
  }

  .select-options {
    border: 1px solid white;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
  }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid black;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover, .select-options li.is-selected {
    color: black;
    background: white;
  }
  .select-options li[rel="hide"] {
    display: none;
  }

  @media screen and (max-width: 992px) {

    .container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: solid 0.5px green;
    width: 75%;
    margin-top: -3vh;
    }
  }

  @media screen and (max-width: 768px) {

    .container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: solid 0.5px green;
    width: 80%;
    margin-top: -3vh;
    }
  }

  @media screen and (max-width: 375px) {

    .container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    border: solid 0.5px green;
    width: 100%;
    margin-top: -3vh;
    }
  }
